li.notepad-infos-priority {
    background: #bb86fc;
    box-shadow: 0 0 14px rgba(187, 134, 252, 0.7);
    border-radius: 10px;
    padding: 20px 20px 10px 20px;
}

li.notepad-infos-priority div {
    display: flex;
    justify-content: space-between;
}

li.notepad-infos-priority strong {
    display: block;
    font-size: 16px;
    color: #1d1d1d;
}

li.notepad-infos-priority div div {
    color: #1b1b1b;
    cursor: pointer;
}

li.notepad-infos-priority div div:hover {
    color: #dbdbdb;
    transition: 0.2s;
}

li.notepad-infos-priority textarea {
    padding: 7px;
    margin-top: 7px;
    margin-bottom: 5px;
    width: 100%;
    height: 130px;
    font-size: 14px;
    color: #1b1b1b;
    border: 0;
    background: #bb86fc;
    resize: none;
}

li.notepad-infos-priority textarea:hover {
    cursor: default;
}

li.notepad-infos-priority span {
    color: #1b1b1b;
    cursor: pointer;
}

li.notepad-infos-priority span:hover {
    color: #dbdbdb;
    transition: 0.2s;
}


